.impact-image {
  padding: -110px;
  max-width: 40%;
  margin-left: 53%;
  border-radius: 15%;
  margin-top: 61px;
  background-color: #25264c;
  color: rgb(255, 255, 255) ;
  margin-top: -1%;

}