#wat-token-image{
    padding: 4.7px;
    max-width: 100%;
    min-height: 100%;
    border-bottom: 100%;
    margin-top: 10px;
    
   box-sizing:6%;
    box-shadow: 10%;
    background-color: rgb(32, 153, 32);
    
}
