/* Footer.css */
.footer {
  background: linear-gradient(135deg, #25264c, #36087a);
  color: #fff;
  padding: 120px;
  text-align: bottom;
  position: absolute; /* Fix the footer to the bottom of the viewport */
  width: 100%; /* Make the footer span the entire width of the viewport */
  bottom: 0; /* Position the footer at the bottom */
}
